html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  width: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 34px 2px rgba(117, 117, 117, 0.4);
  box-shadow: 0 0 34px 2px rgba(117, 117, 117, 0.4);
  position: relative;
}

.container {
  margin: 0;
  padding: 0;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}

.navigation-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-item {
  width: 20%;
  font-weight: 700;
}

.navigation-item:nth-child(1) {
  text-align: left;
  padding-left: 71px;
}

.navigation-item:nth-child(2) {
  text-align: left;
  margin-right: 20%;
  padding-left: 73px;
}

.navigation-item:nth-child(3) {
  text-align: right;
  padding-right: 76px;
}

.navigation-item:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.navigation-item-current {
  width: 20%;
  font-weight: 700;
  text-align: right;
  padding-right: 72px;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  color: #81b3d2;
}

.navigation-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-current .navigation-link {
  color: #766357;
}

.intro {
  position: relative;
  background-color: #30454f;
  background-image: url("../img/back.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 80px;
}

.intro::before {
  content: '';
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 57'%3E%3Cpath d='M0 57V0l250 24V0l350 57L950 0v24l250-24v57H0z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.intro-image {
  display: block;
  margin: 0 auto;
}

.reasons {
  text-align: center;
  background-color: #ffffff;
}

.promo-title {
  width: 500px;
  margin-left: 351px;
  margin-top: 60px;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.promo-desc {
  margin-top: 27px;
  margin-bottom: 51px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
}

.reasons-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.reasons-item-bottom {
  width: 400px;
  display: block;
}

.reasons-item-title {
  width: 155px;
  margin-left: 123px;
  margin-top: 47px;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 23px;
}

.reasons-item-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reasons-item-desc {
  width: 302px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 19px;
  margin-left: 50px;
}

/*------------------------первая колонка-------------*/
.features-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #000000;
  background-color: #ffffff;
  clear: both;
}

.features-item {
  width: 400px;
  position: relative;
}

.features-item-title {
  margin-top: 162px;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-item-desc {
  width: 304px;
  margin-left: 48px;
  margin-bottom: 81px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
}

.features-item-first::before {
  content: '';
  left: 50%;
  position: absolute;
  width: 75px;
  height: 72px;
  margin-top: 60px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='72' viewBox='0 0 75 72'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M29.656 65.033h16V41.21h-16v23.823zm2.937-20.899h10.125V62.11H32.593V44.134z'/%3E%3Cpath d='M72.771 39.253l2.076-2.068-9.908-9.865V0H51.127v13.567L37.5 0 .152 37.185l2.077 2.068 7.832-7.795v37.618H6.124V72h63.875v-2.924H64.94V31.458l7.831 7.795zM62.002 69.076H12.999V28.534L37.5 4.149l24.502 24.385v40.542zm0-44.682l-7.938-7.902V2.924h7.938v21.47z'/%3E%3Cpath d='M29.906 27.08c0 4.261 3.47 7.713 7.75 7.713 4.279 0 7.75-3.452 7.75-7.713 0-4.259-3.471-7.713-7.75-7.713-4.281 0-7.75 3.454-7.75 7.713zm7.75-4.945c2.744 0 4.969 2.214 4.969 4.945 0 2.732-2.225 4.948-4.969 4.948-2.746 0-4.97-2.216-4.97-4.948 0-2.731 2.225-4.945 4.97-4.945zM17.061 41.21h3v3.919h-3zM22.999 41.21h3v3.919h-3zM17.061 47.182h3v3.919h-3zM22.999 47.182h3v3.919h-3zM48.998 41.21h3v3.919h-3zM54.936 41.21h3v3.919h-3zM48.998 47.182h3v3.919h-3zM54.936 47.182h3v3.919h-3z'/%3E%3C/g%3E%3C/svg%3E");
}

.features-item-second::before {
  content: '';
  left: 50%;
  position: absolute;
  width: 74px;
  height: 70px;
  margin-top: 60px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74' height='70' viewBox='0 0 74 70'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M69.854 46.71H4.051c-2.274 0-4.135 1.94-4.135 4.313v3.504c0 2.372 1.861 4.313 4.135 4.313h.93v1.053c0 5.536 4.341 10.065 9.648 10.065h44.646c5.306 0 9.648-4.529 9.648-10.065V58.84h.93c2.274 0 4.135-1.941 4.135-4.313v-3.504c0-2.373-1.86-4.313-4.134-4.313zm-3.848 13.184c0 3.871-3.019 7.021-6.73 7.021H14.629c-3.711 0-6.731-3.15-6.731-7.021v-1.053h58.107v1.053zm5.065-5.367c0 .688-.558 1.271-1.218 1.271H4.051c-.66 0-1.217-.582-1.217-1.271v-3.504c0-.688.558-1.271 1.217-1.271h65.802c.66 0 1.218.582 1.218 1.271v3.504zM15.634 38.406l5.323 4.059 5.326-4.059 5.328 4.059 5.328-4.059 5.328 4.059 5.329-4.059 5.327 4.059 5.33-4.06 5.336 4.059 6.194-4.712-1.72-2.459-4.474 3.403-5.336-4.057-5.33 4.056-5.327-4.057-5.329 4.057-5.328-4.057-5.328 4.057-5.328-4.057-5.325 4.057-5.323-4.057-5.327 4.057-4.467-3.401-1.721 2.457 6.188 4.714zM7.978 31.544H68.855c.041-.619.069-1.241.069-1.87 0-.394-.016-.783-.032-1.173C68.227 12.657 54.186 0 36.952 0 19.719 0 5.677 12.657 5.013 28.501c-.017.39-.032.78-.032 1.173 0 .629.028 1.251.07 1.87h2.927zM36.952 3.043c15.591 0 28.35 11.316 29.021 25.458H7.931c.673-14.142 13.43-25.458 29.021-25.458z'/%3E%3Cellipse cx='36.952' cy='15.26' rx='1.945' ry='2.03'/%3E%3Cellipse cx='29.172' cy='10.23' rx='1.946' ry='2.03'/%3E%3Cellipse cx='44.732' cy='10.23' rx='1.946' ry='2.03'/%3E%3C/g%3E%3C/svg%3E");
}

.features-item-third::before {
  content: '';
  left: 50%;
  position: absolute;
  width: 64px;
  height: 76px;
  margin-top: 56px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='76' viewBox='0 0 64 76'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%2381B3D2' d='M61.097 22.501H36.312C50.125 15.602 51.229 11.25 50.72 8.816c-1.162-3.963-5.692-7.023-10.002-5.407-5.569 2.089-7.137 10.388-8.644 16.387-1.924-6.07-3.784-13.814-8.136-17.737C22.677.921 20.843-.205 18.175.031c-4.026.356-9.802 5.382-7.458 10.981 2.251 5.378 9.687 8.777 14.578 11.489H2.879A2.882 2.882 0 0 0 0 25.37v11.322a2.882 2.882 0 0 0 2.879 2.869h.274V76h57.841V39.561h.103a2.882 2.882 0 0 0 2.88-2.869V25.37a2.882 2.882 0 0 0-2.88-2.869zM42.413 5.944c2.103-.31 4.982 1.299 5.255 3.209.393 2.756-3.4 5.255-5.086 6.421-2.523 1.744-4.928 2.643-7.287 4.055.884-3.69 2.549-13.011 7.118-13.685zm-22.882 9.968c-2.225-1.485-6.544-4.431-6.44-7.771.112-3.595 5.743-6.57 8.814-3.886 3.856 3.371 5.713 11.105 7.119 16.557-3.249-1.539-6.328-2.788-9.493-4.9zm5.972 57.114H6.136V39.561h19.368v33.465zm0-36.502H3.046V25.538h22.457v10.986zm10.157 0v36.503h-7.174V25.538h7.174v10.986zm22.351 36.502H38.644V39.561h19.367v33.465zm2.92-36.502H38.644V25.538h22.287v10.986z'/%3E%3C/svg%3E");
}

/*---------------------Нижнии колонки--------------------------------------------------------------------------------*/
.reasons-item-bottom {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #eeeeee;
  opacity: 0.902;
  padding-bottom: 45px;
}

.reasons-item-block {
  width: 400px;
}

.reasons-item-bottom .reasons-item-number {
  color: #333333;
}

.reasons-item-bottom .reasons-item-desc {
  width: 261px;
  margin-left: 69px;
  margin-top: 21px;
  color: #333333;
}

.reasons-item-bottom:last-child .reasons-item-desc {
  width: 258px;
}

/*-----------------------------------------------------------------------------------*/
.appointment {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  text-align: center;
  margin-top: 50px;
}

.interested-in {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
}

.appointment-info {
  padding-top: 10px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
}

.appointment .search-form-btn {
  position: relative;
  z-index: 3;
  display: inline-block;
  margin: 0;
  padding: 31px 140px;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

@-webkit-keyframes lift-down {
  from {
    -webkit-transform: translateY(-86px) translateX(-50%);
    transform: translateY(-86px) translateX(-50%);
  }

  10% {
    -webkit-transform: translateY(-76px) translateX(-50%);
    transform: translateY(-76px) translateX(-50%);
  }

  20% {
    -webkit-transform: translateY(-66px) translateX(-50%);
    transform: translateY(-66px) translateX(-50%);
  }

  30% {
    -webkit-transform: translateY(-56px) translateX(-50%);
    transform: translateY(-56px) translateX(-50%);
  }

  40% {
    -webkit-transform: translateY(-46px) translateX(-50%);
    transform: translateY(-46px) translateX(-50%);
  }

  50% {
    -webkit-transform: translateY(-36px) translateX(-50%);
    transform: translateY(-36px) translateX(-50%);
  }

  60% {
    -webkit-transform: translateY(-26px) translateX(-50%);
    transform: translateY(-26px) translateX(-50%);
  }

  70% {
    -webkit-transform: translateY(-16px) translateX(-50%);
    transform: translateY(-16px) translateX(-50%);
  }

  80% {
    -webkit-transform: translateY(-6px) translateX(-50%);
    transform: translateY(-6px) translateX(-50%);
  }

  to {
    -webkit-transform: translateY(0) translateX(-50%);
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes lift-down {
  from {
    -webkit-transform: translateY(-86px) translateX(-50%);
    transform: translateY(-86px) translateX(-50%);
  }

  10% {
    -webkit-transform: translateY(-76px) translateX(-50%);
    transform: translateY(-76px) translateX(-50%);
  }

  20% {
    -webkit-transform: translateY(-66px) translateX(-50%);
    transform: translateY(-66px) translateX(-50%);
  }

  30% {
    -webkit-transform: translateY(-56px) translateX(-50%);
    transform: translateY(-56px) translateX(-50%);
  }

  40% {
    -webkit-transform: translateY(-46px) translateX(-50%);
    transform: translateY(-46px) translateX(-50%);
  }

  50% {
    -webkit-transform: translateY(-36px) translateX(-50%);
    transform: translateY(-36px) translateX(-50%);
  }

  60% {
    -webkit-transform: translateY(-26px) translateX(-50%);
    transform: translateY(-26px) translateX(-50%);
  }

  70% {
    -webkit-transform: translateY(-16px) translateX(-50%);
    transform: translateY(-16px) translateX(-50%);
  }

  80% {
    -webkit-transform: translateY(-6px) translateX(-50%);
    transform: translateY(-6px) translateX(-50%);
  }

  to {
    -webkit-transform: translateY(0) translateX(-50%);
    transform: translateY(0) translateX(-50%);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-45%);
    transform: translateX(-45%);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-45%);
    transform: translateX(-45%);
  }
}

.appointment-form {
  font: inherit;
  margin: 0;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
  width: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  position: absolute;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}

.appointment-form-show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: lift-down 0.6s;
  animation: lift-down 0.6s;
}

.modal-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.appointment .search-form-btn:hover {
  background-color: #604e43;
}

.appointment .search-form-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.date-label,
.numb-adults-label,
.numb-children-label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.appointment-input {
  width: 346px;
  height: 38px;
  list-style: none;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 0;
}

.appointment-input:hover,
.amount-input:hover {
  background-color: #ebebeb;
}

.appointment-input:focus,
.amount-input:focus {
  background-color: #ffffff;
}

.appointment .search-hotel {
  display: inline-block;
  margin-top: 22px;
  padding: 17px 196px;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.appointment .search-hotel:hover {
  background-color: #669ec0;
}

.appointment .search-hotel:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*-----------------------------------2 страница------------------------------*/
.sort {
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-list {
  list-style: none;
}

.sort-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: 1px dashed #81b3d2;
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:focus {
  color: #000000;
  border-bottom: 0;
}

.sort-item-active .sort-link {
  border-bottom: 0;
  color: #81b3d2;
}

.sort-btns {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item-title .link-hotel {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-item-title .link-hotel:hover {
  color: #81b3d2;
}

.catalog-item-title .link-hotel:focus {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-info {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 11px;
  margin-right: 82px;
}

.hotel-btn {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  margin-top: 2px;
  margin-right: 5px;
  padding: 3px 17px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.hotel-btn:hover {
  background-color: #669ec0;
}

.hotel-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-btn-book {
  background-color: #766357;
}

.hotel-btn-book:hover {
  background-color: #604e43;
}

.hotel-btn-book:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog-item-rating {
  color: #666666;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: #f2f2f2;
  margin-right: 0;
  padding: 3px 15px;
}

.image-block {
  display: block;
  padding: 0;
  margin: 0;
  background-color: #d9e4c1;
}

.map {
  display: block;
  position: relative;
  margin: 0;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

/*----------------------------------Фильтр-----------------------------------*/
.filter {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  padding-left: 72px;
  padding-right: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #30454f;
  background-image: url("../img/back2.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.filter-search-hotel {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
}

.filter-search-hotel:hover {
  color: #000000;
  background-color: #ffffff;
}

.filter-label {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.filter-group {
  border: none;
  margin: 0;
  margin-top: 27px;
  padding: 0;
}

.filter-group:nth-child(2) {
  margin-left: 119px;
}

.filter-group:nth-child(3) {
  margin-left: auto;
}

.filter-1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-item {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 25px;
  padding-left: 40px;
}

.filter-input-checkbox + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23FFFFFF' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + .checkbox-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.filter-input-checkbox:disabled + .checkbox-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23' fill-opacity='0.5'%3E%3Cpath fill='%23000000' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  opacity: 0.5;
}

.filter-input-checkbox:checked:disabled + .checkbox-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23' fill-opacity='0.5'%3E%3Cpath fill='%23000000' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23000000' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E ");
  opacity: 0.5;
}

.filter-input-checkbox:focus + .checkbox-indicator {
  -webkit-filter: drop-shadow(0px 0px 2px #ffffff);
  filter: drop-shadow(0px 0px 2px #ffffff);
}

.filter-legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.search-result {
  margin: 0;
  margin-top: 28px;
  margin-left: 72px;
  margin-bottom: 28px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

.found {
  min-width: 117px;
  margin: 0;
  margin-right: 47px;
  padding: 0;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.sort-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.sort-item {
  padding-right: 30px;
  display: inline-block;
  vertical-align: middle;
}

.sort-btns {
  margin: 0;
  margin-right: 73px;
  padding: 0;
}

.range {
  display: block;
  width: 318px;
  padding: 0;
  border: none;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

.range-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.range-controls {
  position: relative;
  height: 32px;
  margin-top: 9px;
  margin-bottom: 54px;
  font-size: 0;
  border: 2px solid hsl(0, 0%, 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.range-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: hsl(0, 0%, 100%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.range-label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 32px;
}

.range-label-min,
.range-label-max {
  width: 50%;
  text-align: center;
}

.range-scale {
  position: relative;
  bottom: -22px;
  width: 100%;
  height: 2px;
  background: hsla(0, 0%, 100%, 0.3);
}

.range-bar {
  position: absolute;
  left: -webkit-calc(100% * 0 / 4000);
  left: calc(100% * 0 / 4000);
  right: -webkit-calc(100% * (4000 - 3000) / 4000);
  right: calc(100% * (4000 - 3000) / 4000);
  height: 2px;
  background: hsl(0, 0%, 100%);
}

.range-lever {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: -38px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: hsl(0, 0%, 67%);
  border: 8px solid hsl(0, 0%, 100%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 2px 1px 0 hsla(0, 0%, 0%, 0.2);
}

.range-lever:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.range-lever:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.range-lever-min {
  left: -webkit-calc(100% * 0 / 4000 - 20px / 2);
  left: calc(100% * 0 / 4000 - 20px / 2);
}

.range-lever-max {
  left: -webkit-calc(100% * 3000 / 4000 - 20px / 2);
  left: calc(100% * 3000 / 4000 - 20px / 2);
}

.range-input:focus + .range-lever {
  -webkit-box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0.5);
}

.btn-transparent {
  display: block;
  margin-top: 60px;
  margin-left: 87px;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid hsl(0, 0%, 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: hsl(0, 0%, 0%);
  background: hsl(0, 0%, 100%);
}

.btn-transparent:focus::-moz-focus-inner {
  border: 0;
}

.catalog {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-top: 1px solid #e5e5e5;
}

.catalog-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-img {
  margin-top: 30px;
  margin-left: 72px;
  margin-right: 30px;
  padding: 0;
}

.catalog-item-title {
  max-width: 262px;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  margin-bottom: 7px;
}

.catalog-item-type {
  margin: 0;
  padding: 0;
}

.catalog-item-price {
  margin: 0;
  padding: 0;
}

.catalog-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.rating {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: right;
  margin-left: 516px;
}

.stars {
  color: #ffffff;
  height: 40px;
  margin-bottom: 44px;
  margin-top: 9px;
  margin-left: 22px;
}

.stars-4 {
  background: url(../img/star.svg) no-repeat 0 20px, url(../img/star.svg) no-repeat 24px 20px, url(../img/star.svg) no-repeat 48px 20px, url(../img/star.svg) no-repeat 72px 20px;
}

.stars-3 {
  background: url(../img/star.svg) no-repeat 24px 20px, url(../img/star.svg) no-repeat 48px 20px, url(../img/star.svg) no-repeat 72px 20px;
}

.stars-2 {
  background: url(../img/star.svg) no-repeat 48px 20px, url(../img/star.svg) no-repeat 72px 20px;
}

/*------------------------------------------------ПОДВАЛ---------------------------------------------------------*/
.main-footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 30px;
  padding-left: 133px;
  padding-right: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
}

.hashtag {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-right: auto;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 4px;
  list-style: none;
}

.social-item {
  margin-bottom: 10px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:focus path {
  fill: #88b6d1;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-left: auto;
}

.Website {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  padding-right: 7px;
}

.footer-copyright .htmlacademy-logo {
  padding-top: 5px;
}

.htmlacademy-logo:hover path {
  fill: #81b3d2;
}

.htmlacademy-logo:focus path {
  fill: #bdbbbc;
}

.footer-catalog {
  position: relative;
}

.sort-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.sort-btn-up {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  border-style: solid;
  border-width: 0 5.5px 9.5px 5.5px;
  border-color: transparent transparent #cacaca transparent;
  margin-left: 23px;
  margin-right: 11px;
}

.sort-btn-down {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  border-style: solid;
  border-width: 9.5px 5.5px 0 5.5px;
  border-color: #cacaca transparent transparent transparent;
}

.sort-btn-down-active {
  border-color: #81b3d2 transparent transparent transparent;
}

.sort-btn-up-active {
  border-color: transparent transparent #81b3d2 transparent;
}

.sort-btn-up:hover {
  border-color: transparent transparent #231f20 transparent;
}

.sort-btn-down:hover {
  border-color: #231f20 transparent transparent transparent;
}

.sort-btn-up:focus {
  border-color: transparent transparent #81b3d2 transparent;
}

.sort-btn-down:focus {
  border-color: #81b3d2 transparent transparent transparent;
}

.appointment-item {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.date-label {
  padding: 0;
  margin: 0;
}

.appointment-numb {
  width: 50%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.numb-adults-label {
  margin-right: 40px;
}

.numb-children-label {
  margin-right: 26px;
}

.numb-children-label {
  margin-left: 50px;
}

.appointment-input {
  padding: 0;
  margin: 0;
  padding-left: 13px;
  padding-right: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 346px;
  margin-left: auto;
}

.amount-input {
  text-align: center;
  position: relative;
  width: 38px;
  height: 38px;
  font: inherit;
  background-color: #f2f2f2;
  border: 0;
  padding: 7px 0;
}

.calendar {
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 15px;
  cursor: pointer;
  width: 21px;
  height: 22px;
  border: 0;
  padding: 0;
  fill: #a9a9a9;
}

.calendar:hover {
  fill: #2f2f2f;
}

.calendar:focus {
  fill: #81b3d2;
  outline: none;
}

.btn-plus,
.btn-minus {
  position: relative;
  border: 0;
  background-color: #f2f2f2;
  margin: 0;
  padding: 19px;
}

.btn-plus:focus,
.btn-minus:focus {
  outline: none;
}

.btn-plus::before,
.btn-plus::after {
  content: "";
  position: absolute;
  right: 12px;
  bottom: 18px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  cursor: pointer;
}

.btn-plus::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.btn-minus::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 17px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  cursor: pointer;
}

.btn-plus:hover::before,
.btn-plus:hover::after,
.btn-minus:hover::before {
  background-color: #000000;
}

.btn-plus:focus::before,
.btn-plus:focus::after,
.btn-minus:focus::before {
  background-color: #81b3d2;
}
